.siteHeader {
    font-size: 64px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 20px 20vw;
    margin-bottom: 5px;
    line-height: 60px;
}

.siteHeaderContainer {
    width: 100%;
    max-width: 1180px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: url(/images/one-man-video-header.jpg);
    background-size: cover;
    background-position: center center;
}

.siteHeaderContainer p {
    color: #DDD;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 300;
    margin: 10px;
    padding: 0;
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.ctaButton {
    display: block;
    background-color: #4655a5;
    padding: 8px 20px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5s;
}

.ctaButton:hover {
    background-color: #303b73;
}

.secondaryButton {
    display: block;
    background-color: rgba(40,40,40,0.15);
    color: #FFF;
    border: 1px solid #AAA;
    padding: 6px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 10px;
    transition: 0.5s;
}

.secondaryButton:hover {
    background-color: rgba(40,40,40,0.7);
}

@media screen and (max-width: 680px) {
    .siteHeaderContainer p {
        font-size: 16px;
    }
    .siteHeader {
        font-size: 50px;
        line-height: 46px;
    }
    .ctaButton, .secondaryButton {
        font-size: 14px;
    }
}