.innerContainer {
    width: calc(100% - 10vmin);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5vmin;
}

.preFooter {
    margin: 0;
    padding: 7vmin 0;
    background-color: #222;
    color: #FFF;
}

.preFooter1 {
    grid-column: span 8;
}

.preFooter1 img {
    width: 200px;
}

.preFooter1 p {
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
    color: #999;

}

.footerButton {
    background-color: #4655a5;
    padding: 10px 20px;
    color: #FFF;
    text-transform: uppercase;
    border: 0px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
}

.footerButton:hover {
    background-color: #303b73;
    transition: 0.5s;
}

.preFooter2 {
    grid-column: span 2;
}

.innerContainer h4 {
    margin: 0;
    margin-bottom: 12px;
    color: #FFF;
    font-weight: 700;
}

.innerContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.innerContainer ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

.innerContainer ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #999;
}

.innerContainer ul li a:hover {
    color: #FFF;
    font-weight: 700;
}

.preFooter3 {
    grid-column: span 2;
}

.footer {
    background-color: #4655a5;
    min-height: 60px;
    text-transform: uppercase;
    font-size: 12px;
    color: #98a1d2;
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer a {
    color: #e1e3ef;
    text-decoration: none;
    font-weight: 500;
}

.footer a:hover {
    color: #FFF;
}

.footer p {
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .preFooter1 {
        grid-column: span 12;
    }
    .preFooter2 {
        margin-top: 15px;
        grid-column: span 6;
    }
    .preFooter3 {
        margin-top: 15px;
        grid-column: span 6;
    }
}